<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/layout/head::head}"></head>

<body class="sb-nav-fixed">
    <div th:replace="~{admin/layout/header::header}"></div>
    <div id="layoutSidenav">
        <div th:replace="~{admin/layout/sidebar::sidebar}"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Danh sách thể loại sách</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item"><a th:href="@{/admin/book-type}">Thể loại sách</a></li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <i class="fas fa-table me-1"></i>
                                Bảng dữ liệu
                            </div>
                            <form method="post" th:action="@{/admin/book-type/create}" th:object="${newType}"
                                style="width: 400px;">
                                <div class="mb-3">
                                    <label class="form-label">Thể loại:</label>
                                    <input type="text" class="form-control" th:field="*{name}"
                                        th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" />
                                    <p th:if="${#fields.hasErrors('name')}" class="invalid-feedback"
                                        th:errors="*{name}" />
                                </div>
                                <button type="submit" class="btn btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                                    </svg>
                                    Thêm mới</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Thể loại</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Thể loại</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr th:each="type:${allTypes}">
                                        <td th:text="${type.id}"></td>
                                        <td th:text="${type.name}"></td>
                                        <td class="d-flex justify-content-between">
                                            <a class="mx-3" style="color: #FFC107;"
                                                th:href="@{/admin/book-type/update/{id}(id=${type.id})}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                                </svg>
                                            </a>
                                            <a class="mx-3" style="color: #F44336;"
                                                th:href="@{/admin/book-type/delete/{id}(id=${type.id})}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <div th:replace="~{admin/layout/footer::footer}"></div>
        </div>
    </div>
</body>

</html>